{% extends 'base.html' %}

{% block content %}
<h1>Books app</h1>

{% if current_user() %}
<h3>Welcome to your favourite books app {{ current_user()['first_name'] }}</h3>

<section class="controls">
  <form action="/sessions/delete" method="POST">
    <button>Log out</button>
  </form>

  <a href="/books/new">Add your favoutite book</a>
</section>

<section class="books">
  {% for book in books: %}
  <section class="book">
    <header>
     <h2> <a href="/books/new_page">{{ book['title'] }}</a></h2>
   

      <!-- <section class="controls">
        <a href="/books/{{ book['id'] }}/edit">Edit</a>

        <form action="/books/{{ book['id'] }}/delete" method="POST">
          <button>Delete</button>
        </form>

      </section> -->
    </header>
    <img src ="{{ book['image_url'] }}">
    <!-- <a href="{{ book['image_url'] }}"></a> -->
    <h2>{{ book['author_name'] }}</h2>
    <h2>{{ book['published_year'] }}</h2>
    
  </section>
  {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign up</a>
<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}