{% extends 'base.html' %}

{% block content %}
<h1>Books Of Wonder</h1>

{% if current_user() %}
<h3>Welcome to your favourite books app {{ current_user()['first_name'] }}</h3>

<section class="controls">
  <form action="/sessions/delete" method="POST">
    <button>Log out</button>
  </form>

  <a href="/books/new">Add your favoutite book</a>
</section>

<section class="books">
  {% for book in books: %}
  <section class="book">
    <header><h2> {{ book['title'] }}</h2>
    </header>
    <a href="/books/{{ book['title'] }}/title"><img src ="{{ book['image_url'] }}"></a>
  </section>
  {% endfor %}
</section>
{% else %}
<section class="home">
  <a href="/users/new">Sign up</a>
  <a href="/sessions/new">Log in</a>
</section>

{% endif %}

{% endblock %}